*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6CB4EE;
}
.container{
    text-align: center;
}
.container h2{
    margin-bottom: 40px;
    font-family: sans-serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
form select{
    width: 450px;
    padding: 15px;
    text-indent: 30%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
}